@media only screen and (max-width: 458px) {

  linearojawrap{
    margin-bottom: 200px;
  }
  linearoja{
    display: none;
  }
}

@media only screen and (max-width: 400px) {

  #botonBeneficios{
    position: absolute;
    left: 9%;
  }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {

  #botonBeneficios{
    position: absolute;
    left: 12%;
  }
}

@media only screen and (min-width: 600px) {

  #botonBeneficios{
    position: absolute;
    left: 40%;
  }
}